<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Password Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container-form">
        <h2>Request Password Reset</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>{{ form.email.label }} {{ form.email(size=32) }}</div>
            <div>{{ form.submit(class_="btn btn-primary") }}</div>
        </form>
        <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
</body>

</html>